:root{
  --bg-color:black;
}

*{user-select: none;}

body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  /* font-family: 'Press Start 2P', cursive; */
}

/* header start */
.header{
  background-color: var(--bg-color);
}

/* currency */
.coin-border{
  position: relative;
  margin: 10px 0; 
  width: 30px;
  height: 30px;
  background-color: darkred;
  border-radius: 50%;
}

.coin-img{
  display: inline;
  position: absolute;
  margin: 0 auto;
  top: 2px;
  left: 2px;
  font-family: 'Press Start 2P', cursive;
  width: 25px;
  height: 25px;   
  color: black;
  background-color: rgb(171, 119, 14);
  border: 1px solid black;
  border-radius: 100%;
}

.coin-position{
  margin-left: 4px;
  margin-right: 5px;
}

.bronze-coin-border{
  background-color: rgb(171, 119, 14);
}

.bronze-coin{
  background-color: rgb(171, 119, 14);
}

.green-coin{
  background-color: #0A8849;
}

.green-coin-border{
  background-color: #0A8849;
}

.white-coin{
  background-color: silver;
}
.white-coin .coin-position{
  margin-left: 5px;
  margin-top: 5px;
}

.white-coin-border{
  background-color: silver;
}

.blue-coin{
  background-color: #3645E4;
}

.blue-coin .coin-position{
  margin-left: 5px;
}

.blue-coin-border{
  background-color: #3645E4;
}

.coin-text{
  margin: 10px 0;
}

/* name/title */
.name-title-div{
  text-align: center;
  margin-top: 25px;
}

/* exp bar */
.exp-bar{
  position: relative;
  margin: 20px auto;
  padding: 0;
  width: 400px;
  height: 30%;
  border-radius: 5px;
  background-color: silver;
  color: black;
  z-index: 0;
}

.exp-progress{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: darkred;
  z-index: 1;
}

.exp-text{
  position: absolute;
  margin: 5px 45%;
  height: 100%;
  line-height: 100%;
  font-weight: 700;
  z-index: 2;
}
/* level display */
.lvl-star{
  position: absolute;
  width: 80px;
  right: -40px;
  top: -25px;
  z-index: 3;
}

.lvl-display{
  position: absolute;
  text-align: center;
  width: 80px;
  right: -20px;
  width: 35px;
  height: 35px;
  font-weight: 800;
  color: black;
  z-index: 4;
}


/* header end */

/* main start */

.main{
  padding-top: 30px;
}

/* game-area */

.game-area{
  position: relative;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0;
  width: 100%;
  height: 450px;
}

.character-speak{
  text-align: center;
  font-size: 24px;
  user-select: none;
}

.greed-speak{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  color: white;
  user-select: none;
}
/* feature dropdown */

/* dropdown button style/postioning */
.feature-button{
  padding: 0 40px;
  background-color: darkred;
}

.feature-dropdown{
  position: absolute;
  top: 0;
  right: 0;
}

/* dropdown item style */

.dropdown-item-style:hover{
  cursor: pointer;
}
.dropdown-item-style:active{
  background-color: darkred;
}



/* prog */
.upgrade-title{
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 24px;
  user-select: none;
}

.upgrade-text{
  margin: 0;
  margin-left: 35px;
  padding: 10px 0;
  text-align: left;
  user-select: none;
}

.click-upgrades-div{
  margin: 0;
  padding: 0;
  margin-top: 15px;
  color: black;
  user-select: none;
}

.upgrade-div{
  margin: 0;
  padding: 0;
  margin-top: 15px;
  user-select: none;
}

.idle-upgradeCost-button{
  display: inline;
  margin: 0;
  margin-left: 35px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  padding: 3px;
  background-color: black;
  color: white;
  user-select: none;
  /* border: 2px solid black; */
}

.click-upgrade-button{
  margin: 0;
  margin-left: 35px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  padding: 3px;
  background-color: gold;
  color: black;
  border: 2px solid black;
  user-select: none;
}

.cost{
  display: flex;
  margin: 0;
  margin-left: 5px;
  padding: 3px;
  font-size: 18px;
  user-select: none;
}

/* idle bar */

.idle-progress-title{
  font-size: 30px;
  font-weight: 600;
  user-select: none;
}

.idle-bar-div{
  text-align: left;
}

.idle-bar{
  /* position: relative; */
  background-color: #7f0404;
  margin: 0;
  padding: 0;
  width: 30%;
  height: 30px;
  border-radius: 5px;
}

.idle-progress{
  position: absolute;
  background-color: darkred;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.idle-bar-amount{
  text-align: center;
  margin: 0;
  color: white;
  padding: 2px 0;
  font-weight: 700;
  /* transform: rotate(-90deg); */
}

/* realIdle toggle */

.idle-toggle{
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
  width: 140px;
  height: 80px;
  border-radius: 10px;
  background-color: white;
}

.idle-toggle-title{
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 50%;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid grey;
  background-color: black;
}

.idle-toggle-status{
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 50%;
  font-weight: 700;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid grey;
  background-color: darkred;
  cursor: pointer;
}

.cheat-display,.sound-display{
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  text-align: center;
}

/* main end */

/* footer start */

.bot-nav{
  border-top: 2px solid var(--bg-color);
  background-color: darkred;
}

.footer-items{
  text-align: center;
  margin: 0 auto;
  font-size: 23px;
  font-weight: 700;
  background-color: darkred;
  border-top: 1px solid var(--bg-color);

}

.offcanvas-style{
  background-color: darkred;
}

.side-dropdown-menu{
  background-color: grey;
}

.side-nav-item{
  font-size: 20px;
  font-weight: 600;
}

.dropdown-text{
  font-size: 18px;
  font-weight: 600;
}

.dropdown-text:hover{
  background-color: red;
}

/* footer end */